@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%; /* Default base size for 1rem = 10px */
}

@media (min-width: 1024px) {
  html {
    font-size: 68.75%; /* Scale up for larger screens */
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 81.25%;
  }
}